<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>H</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css">
    <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="/static/css/stylish-portfolio.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/editor/examples/css/style.css" />
    <link rel="stylesheet" href="/static/editor/css/editormd.preview.css" />
    <script src="/static/editor/examples/js/jquery.min.js"></script>
    <script src="/static/editor/lib/marked.min.js"></script>
    <script src="/static/editor/lib/prettify.min.js"></script>
    <script src="/static/editor/lib/raphael.min.js"></script>
    <script src="/static/editor/lib/underscore.min.js"></script>
    <script src="/static/editor/lib/sequence-diagram.min.js"></script>
    <script src="/static/editor/lib/flowchart.min.js"></script>
    <script src="/static/editor/lib/jquery.flowchart.min.js"></script>
    <script src="/static/editor/editormd.js"></script>
</head>

<body id="page-top">
    <a class="menu-toggle rounded" href="#">
        <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav list-group">
            <li class="sidebar-brand">
                <a class="js-scroll-trigger" href="/index/index">H</a>
            </li>
            {$typeLi}
        </ul>
    </nav>
        <section class="content-section" id="portfolio">
            <div class="container">
                <div class="content-section-heading text-center">
                    <h3 class="text-secondary mb-0">Weblib</h3>
                    <h2 class="mb-5">欢迎来到前端小栈</h2>
                    <h3 class="mb-5">你可以通过右上角的导航寻找你想要的内容，也可以通过输入框输入关键字检索相关的内容</h3>
            </div>
            <form role="form">
                <div class="form-group">
                  <input class="form-control" name="searchValue" type="text" placeholder="在这里输入您的关键字" style="padding-left: 30px;">
                </div>
                <button type="submit" id="search" class="btn btn-default">提交</button>
               </form>
        </section>
    
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>


    <script>
        // buildmarkdown
        editormd.markdownToHTML("content_value", {
            htmlDecode: "style,script,iframe", //可以过滤标签解码
            emoji: true,
            taskList: true,
            tex: true, // 默认不解析
            flowChart: true, // 默认不解析
            sequenceDiagram: true, // 默认不解析
        });

        //Ajax
        $(function () {
            $('#search').click(function () {
                $.ajax({
                    url:"{:url('index/index/search')}",
                    type:'post',
                    data:$('form').serialize(),
                    dataType:'json',
                    success:function(){

                    }
                });
                return false;
            });
        });
    </script>
    <!-- JSflie -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/static/js/stylish-portfolio.min.js"></script>
</body>

</html>