<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>H</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css">
    <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="/static/css/stylish-portfolio.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/editor/examples/css/style.css" />
    <link rel="stylesheet" href="/static/editor/css/editormd.preview.css" />
    <script src="/static/editor/examples/js/jquery.min.js"></script>
    <script src="/static/editor/lib/marked.min.js"></script>
    <script src="/static/editor/lib/prettify.min.js"></script>
    <script src="/static/editor/lib/raphael.min.js"></script>
    <script src="/static/editor/lib/underscore.min.js"></script>
    <script src="/static/editor/lib/sequence-diagram.min.js"></script>
    <script src="/static/editor/lib/flowchart.min.js"></script>
    <script src="/static/editor/lib/jquery.flowchart.min.js"></script>
    <script src="/static/editor/editormd.js"></script>
</head>

<body id="page-top">
    <a class="menu-toggle rounded" href="#">
        <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav list-group">
            <li class="sidebar-brand">
                <a class="js-scroll-trigger" href="/index/index">webLib</a>
            </li>
            {$typeLi}
        </ul>
    </nav>
        <section class="content-section" id="portfolio">
            <div class="container">
                <div class="content-section-heading text-center">
                    <h3 class="text-secondary mb-0">Weblib</h3>
                    <h2 class="mb-5">欢迎来到前端小栈</h2>
                    {if ($userInfo)}
                    <h3 class="mb-5" id="userCance">{$userInfo['username']},你可以自由编辑和管理自己的文章，点击这里退出登陆</h3>
                    {else /} <h3 class="mb-5" id="userLogin">你可以通过右上角的导航寻找你想要的内容，也可以通过输入框输入关键字检索相关的内容，或者点击这里登陆</h3>
                    {/if}
            </div>
            <form role="form" method="post">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-7 mx-auto">
                            <div class="input-group">
                                <input class="form-control" name="searchValue" id="searchValue" type="text" placeholder="在这里输入您的关键字" style="padding-left: 30px;text-align: center;">
                                <span class="input-group-btn">
                                    <button type="submit" id="search" class="btn btn-default">搜索</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <a href="/index/editor/editor"><button type="submit" id="goEditor" class="btn btn-default">前往编辑器</button></a>
            <a href="/index/super/super"><button type="submit" id="goSuper" class="btn btn-default">前往后台管理</button></a>
            </div>
        </section>

    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <script>
        // buildMarkdown
        editormd.markdownToHTML("content_value", {
            htmlDecode: "style,script,iframe", //可以过滤标签解码
            emoji: true,
            taskList: true,
            tex: true, // 默认不解析
            flowChart: true, // 默认不解析
            sequenceDiagram: true, // 默认不解析
        });

        //Ajax
        $(function () {
            $('#search').click(function () {
                let value = $('#searchValue').val();
                $.ajax({
                    url:"{:url('/index/index/search')}",
                    type:'post',
                    data:$('form').serialize(),
                    dataType:'json',
                    success:function(res){
                        if(res == 1){
                            location.href = '{:url("/index/search_list/searchlist")}/searchValue/'+value;
                        }else {
                            alert(res);
                        };
                    }
                });
                return false;
            });

            $('#userCance').click(function () {
                $.ajax({
                    url:"{:url('/index/index/userCance')}",
                    type:'post',
                    data: {
                        getOut:1,
                    },
                    dataType:'json',
                    success:function(res){
                        if(res == 1){
                            window.location.reload();
                        }else {
                            alert(res);
                            window.location.reload();
                        }
                    }
                });
            });

            $('#userLogin').click(function () {
                location.href = '{:url("/index/admin/login")}';
            });
        });
    </script>
    <!-- JSflie -->
    <script src="/static/vendor/jquery/jquery.min.js" charset="utf-8"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/static/js/stylish-portfolio.min.js"></script>
</body>

</html>