<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>H</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="/static/css/stylish-portfolio.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/editor/examples/css/style.css" />
    <link rel="stylesheet" href="/static/editor/css/editormd.preview.css" />
    <script src="/static/editor/examples/js/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap3/js/bootstrap.js"></script>
    <script src="/static/vendor/bootstrap3/js/bootstrap-table.js"></script>
    <script src="/static/vendor/popper/dist/umd/popper.js"></script>
    <script src="/static/editor/lib/marked.min.js"></script>
    <script src="/static/editor/lib/prettify.min.js"></script>
    <script src="/static/editor/lib/raphael.min.js"></script>
    <script src="/static/editor/lib/underscore.min.js"></script>
    <script src="/static/editor/lib/sequence-diagram.min.js"></script>
    <script src="/static/editor/lib/flowchart.min.js"></script>
    <script src="/static/editor/lib/jquery.flowchart.min.js"></script>
    <script src="/static/editor/editormd.js"></script>
    <link rel="stylesheet" href="/static/layui/css/layui.css" />
</head>

<body id="page-top">


<section class="content-section" id="portfolio">
    <div class="container">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">super</h3>
            <h2 class="mb-5"></h2>
        </div>
        <table class="table table-hover" id="tableList">
            <thead>
            <tr>
                <th>文章ID</th>
                <th>所属类ID</th>
                <th>所分类</th>
                <th>标题</th>
                <th>提交时间</th>
                <th>文章拥有者ID</th>
                <th>文章操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="allMd" id="vo"}
            <tr id="{$vo.md_id}">
                <td>{$vo.md_id}</td>
                <td>{$vo.md_typeid}</td>
                <td>{$vo.md_typename}</td>
                <td>{$vo.md_title}</td>
                <td>{:date('Y-m-d H:i:s',$vo.md_time)}</td>
                <td>{$vo.md_belongs}</td>
                <td>
                    <button  class="btn-group btn-group-sm" role="group" onclick="modify({$vo.md_id})">编辑</button>
                    <button  class="btn-group btn-group-sm" role="group" onclick="mdDelete({$vo.md_id})">删除</button>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
        <a href="/index/index/index"><button type="button" class="btn btn-default btn-lg" id="backIndex" >返回主页</button></a>
    </div>
</section>

<a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>


<script>
    function mdDelete(_id){
        //bootstrap获取表格数据方法
        let getValue = $("#"+_id).bootstrapTable("getSelections");
        let _getId = getValue[0].id;
        $.ajax({
            url:"{:url('/index/super/mdDelete')}",
            type:'post',
            data:{
                md_id : _getId,
            },
            dataType:'json',
            success:function(res){
                if(res == 1){
                    layer.msg('删除成功');
                    window.location.reload();
                }else {
                    layer.msg(res);
                }
            }
        });
    };
    function modify(_id) {
        //bootstrap获取表格数据方法
        let getValue = $("#"+_id).bootstrapTable("getSelections");
        let _getId = getValue[0].id;
        if(_getId){
            location.href = '{:url("/index/re_editor/reeditor")}/md_id/'+_getId;
        }
    }
</script>
<!-- JSflie -->
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/static/js/stylish-portfolio.min.js"></script>
<script src="/static/layui/layui.all.js"></script>
</body>

</html>