<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HGZ</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css">
    <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="/static/css/stylish-portfolio.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/layui/css/layui.css" />
    <link rel="stylesheet" href="/static/editor/examples/css/style.css" />
    <link rel="stylesheet" href="/static/editor/css/editormd.preview.css" />
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/editor/lib/marked.min.js"></script>
    <script src="/static/editor/lib/prettify.min.js"></script>
    <script src="/static/editor/lib/underscore.min.js"></script>
    <script src="/static/editor/lib/sequence-diagram.min.js"></script>
    <script src="/static/editor/lib/flowchart.min.js"></script>
    <script src="/static/editor/lib/jquery.flowchart.min.js"></script>
    <script src="/static/editor/editormd.js"></script>
    <link rel="stylesheet" href="/static/layui/css/layui.css" />
</head>

<body id="page-top">
    <a class="menu-toggle rounded" href="#">
        <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a class="js-scroll-trigger" href="/index/index">返回主页</a>
            </li>
            {$contentTypeLi}
        </ul>
    </nav>
        <section class="content-section" id="portfolio">
            <div class="container">
                <div class="content-section-heading text-center">
                    <h3 class="text-secondary mb-0">content</h3>
                    <h2 class="mb-5">{$data.md_typename}</h2>
                    <span class="layui-breadcrumb" lay-separator="😬" style="float: left">
                        {notempty name="skillmd"}
                        <a href="javaScript:;" onclick="showSkill()">技巧</a>
                        {/notempty}
                        {notempty name="casemd"}
                        <a href="javaScript:;" onclick="showCase()">案例</a>
                         {/notempty}
                        <a href="/index/editor/coseditor/md_id/{$data.md_id}">感觉漏了什么？点这补充😲</a>
                    </span>
                    <span class="layui-breadcrumb" lay-separator="🤗" style="float: right">
                        <a><cite>{$mdBelongsName}</cite></a>
                        <a ><cite>{:date('Y-m-d H:i:s',$data.md_time)}</cite></a>
                    </span>
                    <div id="content_value">
                    <textarea id="appendTest">{$data.md_mdcontent}
                    </textarea>
                    </div>
                </div>
            </div>
        </section>

    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!--技巧-->
    <div id="skillContent" style="display: none">
        {volist name="skillmd" id="vo"}
        用户：{$vo.md_belongsname}
        <br>
        时间：{:date('Y-m-d H:i:s',$vo.md_time)}
        <br>
        <div class="content">{$vo.md_content}</div>
        {if $vo.md_belongs == $userId}
        <span class="layui-breadcrumb" lay-separator="😬" style="float: right">
        <a href="javaScript:;" onclick="deleteSkill({$vo.md_id})">删除</a>
        </span>
        <br>
        {/if}
        {/volist}
    </div>
    <!--案例-->
    <div id="caseContent" style="display: none">
        {volist name="casemd" id="vd"}
        用户：{$vd.md_belongsname}
        <br>
        时间：{:date('Y-m-d H:i:s',$vd.md_time)}
        <br>
        <div class="content">{$vd.md_content}</div>
        {if $vd.md_belongs == $userId}
        <span class="layui-breadcrumb" lay-separator="😬" style="float: right">
        <a href="javaScript:;" onclick="deleteCase({$vd.md_id})">删除</a>
        </span>
        <br>
        {/if}
        {/volist}
    </div>
    <script>
        // buildmarkdown
        editormd.markdownToHTML("content_value", {
            htmlDecode: "style,script,iframe", //可以过滤标签解码
            emoji: true,
            taskList: true,
            tex: true, // 默认不解析
            flowChart: true, // 默认不解析
            sequenceDiagram: true, // 默认不解析
        });
        editormd.markdownToHTML("caseContent", {
            htmlDecode: "style,script,iframe", //可以过滤标签解码
            emoji: true,
            taskList: true,
            tex: true, // 默认不解析
            flowChart: true, // 默认不解析
            sequenceDiagram: true, // 默认不解析
        });
        editormd.markdownToHTML("skillContent", {
            htmlDecode: "style,script,iframe", //可以过滤标签解码
            emoji: true,
            taskList: true,
            tex: true, // 默认不解析
            flowChart: true, // 默认不解析
            sequenceDiagram: true, // 默认不解析
        });
        function showCase() {
            $('#caseContent').show();
            layer.open({
                type: 1,
                title: false,
                closeBtn: 1,
                shadeClose: true,
                skin: 'yourclass',
                content: $('#caseContent'),
                end:function () {
                    $('#caseContent').hide();//关闭回调，隐藏Dom
                }
            });
        }
        function showSkill() {
            $('#skillContent').show();
            layer.open({
                type: 1,
                title: false,
                closeBtn: 1,
                shadeClose: true,
                skin: 'yourclass',
                content: $('#skillContent'),
                end:function () {
                    $('#skillContent').hide();//关闭回调，隐藏Dom
                }
            });
        }
        function deleteCase(cid) {
            layer.msg('删除不可恢复哟~', {
                time: 5000 //5s自动关闭
                ,btn: ['删除', '取消']
                ,skin:1
                ,yes: function(index){
                    $.ajax({
                        url:"{:url('/index/md_content/deleteCase')}",
                        type:'post',
                        data:{
                            md_id : cid,
                        },
                        dataType:'json',
                        success:function(res){
                            layer.close(index);
                            if(res == 1){
                                layer.msg('删除成功',{time:1*1000},function () {
                                    location.reload();
                                });
                            }else {
                                layer.msg(res,{time:1*1000},function () {
                                    location.reload();
                                });
                            }
                        }
                    });
                }
            });
        }
        function deleteSkill(sid) {
            layer.msg('删除不可恢复哟', {
                time: 5000 //5s自动关闭
                ,btn: ['删除', '取消']
                ,skin:1
                ,yes: function(index){
                    $.ajax({
                        url:"{:url('/index/md_content/deleteSkill')}",
                        type:'post',
                        data:{
                            md_id :sid,
                        },
                        dataType:'json',
                        success:function(res){
                            layer.close(index);
                            if(res == 1){
                                layer.msg('删除成功',{time:1*1000});
                                location.reload();
                            }else {
                                layer.msg(res,{time:1*1000});
                                location.reload();
                            }
                        }
                    });
                }
            });
        }
    </script>
    <!-- JSflie -->
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/static/js/stylish-portfolio.min.js"></script>
    <script src="/static/layui/layui.all.js"></script>

</body>

</html>